<table class="table">
  <thead>
    <tr class="color">
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email + user.username}}</td>
      <td>
        <a [routerLink]="['/users', user.id]">
          <button class="btn btn-info btn-sm">
            <i class="fa fa-id-card-o"></i>
          </button>
        </a>
        <button (click)="onDeleteClick(user)" class="btn btn-danger btn-sm">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>