<form novalidate (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="form-group col-md-6 col-sm-6">
      <label>Name</label>
      <input type="text" name="name" class="form-control"  [(ngModel)]="user.name">
    </div>
    <div class="form-group col-md-6 col-sm-6">
      <label>UserName</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="user.username">
    </div>
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="text" name="email" class="form-control" [(ngModel)]="user.email">
    </div>
    <div class="form-group col-md-3">
      <label>Website</label>
      <input type="text" name="website" class="form-control" [(ngModel)]="user.website">
    </div>
    <div class="form-group col-md-6">
      <label>Phone</label>
      <input type="text" name="phone" class="form-control" [(ngModel)]="user.phone">
    </div>
    <div class="form-group col-md-6">
      <label>Street</label>
      <input type="text" name="street" class="form-control" [(ngModel)]="user.address.street">
    </div>
    <div class="form-group col-md-6">
      <label>Suite</label>
      <input type="text" name="suite" class="form-control" [(ngModel)]="user.address.suite">
    </div>
    <div class="form-group col-md-3">
      <label>City</label>
      <input type="text" name="city" class="form-control" [(ngModel)]="user.address.city">
    </div>
    <div class="form-group col-md-3">
      <label>Zipcode</label>
      <input type="text" name="zipcode" class="form-control" [(ngModel)]="user.address.zipcode">
    </div>
    <div class="form-group col-md-3">
      <label>Geo lat</label>
      <input type="text" name="lat" class="form-control" [(ngModel)]="user.address.lat">
    </div>
    <div class="form-group col-md-3">
      <label>Geo lng</label>
      <input type="text" name="lun" class="form-control" [(ngModel)]="user.address.lng">
    </div>
    <div class="form-group col-md-6">
      <label>Company name</label>
      <input type="text" name="companyName" class="form-control" [(ngModel)]="user.company.name">
    </div>
    <div class="form-group col-md-3">
      <label>Company catchPhrase</label>
      <input type="text" name="catchPhrase" class="form-control" [(ngModel)]="user.company.catchPhrase">
    </div>
    <div class="form-group col-md-3">
      <label>Company bs</label>
      <input type="text" name="bs" class="form-control" [(ngModel)]="user.company.bs">
    </div>
  </div>
  <br/>
  <div>
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </div>
  <div *ngIf="error">error</div>
</form>