<div class="container">
    <div class="d-flex justify-content-between">
        <div class="text-left" style="font-size: 300%">
            <p>
                    List User
            </p>
        </div>
        <div class="text-right">
            <a [routerLink]="['/users/create']" class="btn btn-primary btn-xl" style="margin-top: 40%">
            <i class=" fa fa-user-plus"></i>
            </a>
        </div>
    </div>
    <app-user-table [users]="users" (delete)="onDeleteClick($event)"></app-user-table>
</div>