.image{
    position: relative;
    bottom: -40px;}
.u-text-small {
        font-size: .875rem;
    }
.c-card {
        position: relative;
        border: 1px solid #e6eaee;
        border-radius: 4px;
        background-color: #fff;
    }
.u-text-bold {
        margin-top: 1rem;
        margin-left: 1rem; 
        font-weight: 650;
    }
.u-flex {
        display: flex;
    }
.u-border-bottom {
            border-bottom: 1px solid #e6eaee;
        }
.u-pv-small {
            padding-left: 2rem;
            padding-top: .3rem;
            padding-bottom: .3rem;
        }
.u-width-25 {
            width: 25%;
}
.user-detail{
    display: flex;
}

.user-avatar-container{
    position: relative;
}
.user-avatar{
    position: absolute;
    bottom: -10px;
    height: 100px;
    border: 4px solid rgb(194, 218, 248);
}
.user-name{
    color: white;
    position: absolute;
    left: 140px;
    bottom: -61px;
    height: 100px;
}